.root * {
    -fx-text-fill: -fx-font-color;
}

.root {
    -fx-background-color: -fx-textarea-bg;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 0 1 1 1;
}

#titleLabel {
    -fx-font-weight: bold;
    -fx-padding: 2 0 0 15;
}

#titleBox {
    -fx-background-color: -fx-title-bg;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 1 1 0 1;
}

.dialogWindow {
    -fx-border-color: -fx-border-gradient;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: -fx-windows-bg;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, dimgrey, 5, 0, 2, 2);
}

#vboxAbout {
    -fx-padding: 10;
}

.lblDialogWindowTitle {
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-font-size: 15px;
    -fx-padding: 3 0 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
    -fx-border-color: -fx-bordercolor;
    -fx-border-insets: 0 0 5 0;
    -fx-alignment: center;
}

.lblLoginWindow {
    -fx-font-weight: bold;
    -fx-padding: 3;
}

#lblLoginInfo, #lblRegInfo {
    -fx-text-fill: -fx-textcolor-alert;
}

.text-field, .password-field {
    -fx-background-color: -fx-textfield-bg;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 1;
    -fx-effect: innershadow(three-pass-box, dimgrey, 2, 0, 1, 1);
}

.dialogWindow .text-field,
.dialogWindow .password-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-alignment: center;
}

.btnNotControl {
    -fx-background-color: -fx-button-up;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 1;
    -fx-pref-width: 100;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-font-color;
    -fx-effect: innershadow(three-pass-box, dimgrey, 2, 0, -1, -1);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.btnNotControl:hover {
    -fx-background-color: -fx-button-over;
}

.btnNotControl:pressed {
    -fx-background-color: -fx-button-down;
    -fx-effect: innershadow(three-pass-box, dimgrey, 2, 0, 1, 1);
}

#btnSend {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.btnControl {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
}

#taChat, .list-view {
    -fx-background-color: -fx-textarea-bg;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-effect: innershadow(three-pass-box, dimgrey, 2, 0, 1, 1);
}

#taChat .scroll-pane,
#taChat .scroll-pane .viewport,
#taChat .scroll-pane .content {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-insets: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-list-bg-hover;
    -fx-background-radius: 5;
}

.list-cell:hover {
    -fx-text-fill: -fx-font-over-color;
}

.list-cell:focused {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-effect: dropshadow(three-pass-box, dimgrey, 2, 0, -1, 0);
    -fx-background-color: -fx-scrollbar;
}

.increment-button {
    -fx-background-color: -fx-scroll-up;
}

.decrement-button {
    -fx-background-color: -fx-scroll-down;
}

.thumb {
    -fx-background-color: -fx-scroll-thumb;
    -fx-border-color: -fx-bordercolor;
}

.increment-arrow,
.decrement-arrow {
    -fx-background-color: -fx-font-color;
}

#lblOnline {
    -fx-background-color: -fx-menu-bg;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 0 1 0 0;
}

#menuTop {
    -fx-background-color: -fx-menu-bg;
    -fx-border-color: -fx-bordercolor;
    -fx-border-width: 0 0 0 1;
}

.context-menu {
    -fx-background-color: -fx-menu-bg;
    -fx-background-radius: 5;
    -fx-border-color: -fx-bordercolor;
    -fx-border-radius: 5;
}

.menu-button:showing,
.menu-button:hover,
.menu-button:focused,
.menu-item:showing,
.menu-item:hover,
.menu-item:focused {
    -fx-background-color: -fx-menu-hover;
    -fx-background-radius: 5;
}

.menu-button:showing > .label,
.menu-button:hover > .label,
.menu-button:focused > .label,
.menu-item:showing .label,
.menu-item:hover .label,
.menu-item:focused .label {
    -fx-text-fill: -fx-font-over-color;
}

.radio-menu-item .radio {
    -fx-background-color: -fx-font-color;
}

.radio-menu-item:showing .radio,
.radio-menu-item:hover .radio,
.radio-menu-item:focused .radio {
    -fx-background-color: -fx-font-over-color;
}

.separator .line {
    -fx-border-color: -fx-bordercolor;
}
